.arg-row
{
    display: flex;

    margin-right: -15px;
    margin-left: -15px;

    flex-wrap: wrap;
}

.arg-no-gutters
{
    margin-right: 0;
    margin-left: 0;
}
.arg-no-gutters > .arg-col,
.arg-no-gutters > [class*='col-']
{
    padding-right: 0;
    padding-left: 0;
}

.arg-col-1,
.arg-col-2,
.arg-col-3,
.arg-col-4,
.arg-col-5,
.arg-col-6,
.arg-col-7,
.arg-col-8,
.arg-col-9,
.arg-col-10,
.arg-col-11,
.arg-col-12,
.arg-col,
.arg-col-auto,
.arg-col-sm-1,
.arg-col-sm-2,
.arg-col-sm-3,
.arg-col-sm-4,
.arg-col-sm-5,
.arg-col-sm-6,
.arg-col-sm-7,
.arg-col-sm-8,
.arg-col-sm-9,
.arg-col-sm-10,
.arg-col-sm-11,
.arg-col-sm-12,
.arg-col-sm,
.arg-col-sm-auto,
.arg-col-md-1,
.arg-col-md-2,
.arg-col-md-3,
.arg-col-md-4,
.arg-col-md-5,
.arg-col-md-6,
.arg-col-md-7,
.arg-col-md-8,
.arg-col-md-9,
.arg-col-md-10,
.arg-col-md-11,
.arg-col-md-12,
.arg-col-md,
.arg-col-md-auto,
.arg-col-lg-1,
.arg-col-lg-2,
.arg-col-lg-3,
.arg-col-lg-4,
.arg-col-lg-5,
.arg-col-lg-6,
.arg-col-lg-7,
.arg-col-lg-8,
.arg-col-lg-9,
.arg-col-lg-10,
.arg-col-lg-11,
.arg-col-lg-12,
.arg-col-lg,
.arg-col-lg-auto,
.arg-col-xl-1,
.arg-col-xl-2,
.arg-col-xl-3,
.arg-col-xl-4,
.arg-col-xl-5,
.arg-col-xl-6,
.arg-col-xl-7,
.arg-col-xl-8,
.arg-col-xl-9,
.arg-col-xl-10,
.arg-col-xl-11,
.arg-col-xl-12,
.arg-col-xl,
.arg-col-xl-auto
{
    position: relative;

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.arg-col
{
    max-width: 100%;

    flex-basis: 0;
    flex-grow: 1;
}

.arg-col-auto
{
    width: auto;
    max-width: 100%;

    flex: 0 0 auto;
}

.arg-col-1
{
    max-width: 8.33333%;

    flex: 0 0 8.33333%;
}

.arg-col-2
{
    max-width: 16.66667%;

    flex: 0 0 16.66667%;
}

.arg-col-3
{
    max-width: 25%;

    flex: 0 0 25%;
}

.arg-col-4
{
    max-width: 33.33333%;

    flex: 0 0 33.33333%;
}

.arg-col-5
{
    max-width: 41.66667%;

    flex: 0 0 41.66667%;
}

.arg-col-6
{
    max-width: 50%;

    flex: 0 0 50%;
}

.arg-col-7
{
    max-width: 58.33333%;

    flex: 0 0 58.33333%;
}

.arg-col-8
{
    max-width: 66.66667%;

    flex: 0 0 66.66667%;
}

.arg-col-9
{
    max-width: 75%;

    flex: 0 0 75%;
}

.arg-col-10
{
    max-width: 83.33333%;

    flex: 0 0 83.33333%;
}

.arg-col-11
{
    max-width: 91.66667%;

    flex: 0 0 91.66667%;
}

.arg-col-12
{
    max-width: 100%;

    flex: 0 0 100%;
}

.arg-order-first
{
    order: -1;
}

.arg-order-last
{
    order: 13;
}

.arg-order-0
{
    order: 0;
}

.arg-order-1
{
    order: 1;
}

.arg-order-2
{
    order: 2;
}

.arg-order-3
{
    order: 3;
}

.arg-order-4
{
    order: 4;
}

.arg-order-5
{
    order: 5;
}

.arg-order-6
{
    order: 6;
}

.arg-order-7
{
    order: 7;
}

.arg-order-8
{
    order: 8;
}

.arg-order-9
{
    order: 9;
}

.arg-order-10
{
    order: 10;
}

.arg-order-11
{
    order: 11;
}

.arg-order-12
{
    order: 12;
}

.arg-offset-1
{
    margin-left: 8.33333%;
}

.arg-offset-2
{
    margin-left: 16.66667%;
}

.arg-offset-3
{
    margin-left: 25%;
}

.arg-offset-4
{
    margin-left: 33.33333%;
}

.arg-offset-5
{
    margin-left: 41.66667%;
}

.arg-offset-6
{
    margin-left: 50%;
}

.arg-offset-7
{
    margin-left: 58.33333%;
}

.arg-offset-8
{
    margin-left: 66.66667%;
}

.arg-offset-9
{
    margin-left: 75%;
}

.arg-offset-10
{
    margin-left: 83.33333%;
}

.arg-offset-11
{
    margin-left: 91.66667%;
}

@media (min-width: 576px)
{
    .arg-col-sm
    {
        max-width: 100%;

        flex-basis: 0;
        flex-grow: 1;
    }
    .arg-col-sm-auto
    {
        width: auto;
        max-width: 100%;

        flex: 0 0 auto;
    }
    .arg-col-sm-1
    {
        max-width: 8.33333%;

        flex: 0 0 8.33333%;
    }
    .arg-col-sm-2
    {
        max-width: 16.66667%;

        flex: 0 0 16.66667%;
    }
    .arg-col-sm-3
    {
        max-width: 25%;

        flex: 0 0 25%;
    }
    .arg-col-sm-4
    {
        max-width: 33.33333%;

        flex: 0 0 33.33333%;
    }
    .arg-col-sm-5
    {
        max-width: 41.66667%;

        flex: 0 0 41.66667%;
    }
    .arg-col-sm-6
    {
        max-width: 50%;

        flex: 0 0 50%;
    }
    .arg-col-sm-7
    {
        max-width: 58.33333%;

        flex: 0 0 58.33333%;
    }
    .arg-col-sm-8
    {
        max-width: 66.66667%;

        flex: 0 0 66.66667%;
    }
    .arg-col-sm-9
    {
        max-width: 75%;

        flex: 0 0 75%;
    }
    .arg-col-sm-10
    {
        max-width: 83.33333%;

        flex: 0 0 83.33333%;
    }
    .arg-col-sm-11
    {
        max-width: 91.66667%;

        flex: 0 0 91.66667%;
    }
    .arg-col-sm-12
    {
        max-width: 100%;

        flex: 0 0 100%;
    }
    .arg-order-sm-first
    {
        order: -1;
    }
    .arg-order-sm-last
    {
        order: 13;
    }
    .arg-order-sm-0
    {
        order: 0;
    }
    .arg-order-sm-1
    {
        order: 1;
    }
    .arg-order-sm-2
    {
        order: 2;
    }
    .arg-order-sm-3
    {
        order: 3;
    }
    .arg-order-sm-4
    {
        order: 4;
    }
    .arg-order-sm-5
    {
        order: 5;
    }
    .arg-order-sm-6
    {
        order: 6;
    }
    .arg-order-sm-7
    {
        order: 7;
    }
    .arg-order-sm-8
    {
        order: 8;
    }
    .arg-order-sm-9
    {
        order: 9;
    }
    .arg-order-sm-10
    {
        order: 10;
    }
    .arg-order-sm-11
    {
        order: 11;
    }
    .arg-order-sm-12
    {
        order: 12;
    }
    .arg-offset-sm-0
    {
        margin-left: 0;
    }
    .arg-offset-sm-1
    {
        margin-left: 8.33333%;
    }
    .arg-offset-sm-2
    {
        margin-left: 16.66667%;
    }
    .arg-offset-sm-3
    {
        margin-left: 25%;
    }
    .arg-offset-sm-4
    {
        margin-left: 33.33333%;
    }
    .arg-offset-sm-5
    {
        margin-left: 41.66667%;
    }
    .arg-offset-sm-6
    {
        margin-left: 50%;
    }
    .arg-offset-sm-7
    {
        margin-left: 58.33333%;
    }
    .arg-offset-sm-8
    {
        margin-left: 66.66667%;
    }
    .arg-offset-sm-9
    {
        margin-left: 75%;
    }
    .arg-offset-sm-10
    {
        margin-left: 83.33333%;
    }
    .arg-offset-sm-11
    {
        margin-left: 91.66667%;
    }
}

@media (min-width: 768px)
{
    .arg-col-md
    {
        max-width: 100%;

        flex-basis: 0;
        flex-grow: 1;
    }
    .arg-col-md-auto
    {
        width: auto;
        max-width: 100%;

        flex: 0 0 auto;
    }
    .arg-col-md-1
    {
        max-width: 8.33333%;

        flex: 0 0 8.33333%;
    }
    .arg-col-md-2
    {
        max-width: 16.66667%;

        flex: 0 0 16.66667%;
    }
    .arg-col-md-3
    {
        max-width: 25%;

        flex: 0 0 25%;
    }
    .arg-col-md-4
    {
        max-width: 33.33333%;

        flex: 0 0 33.33333%;
    }
    .arg-col-md-5
    {
        max-width: 41.66667%;

        flex: 0 0 41.66667%;
    }
    .arg-col-md-6
    {
        max-width: 50%;

        flex: 0 0 50%;
    }
    .arg-col-md-7
    {
        max-width: 58.33333%;

        flex: 0 0 58.33333%;
    }
    .arg-col-md-8
    {
        max-width: 66.66667%;

        flex: 0 0 66.66667%;
    }
    .arg-col-md-9
    {
        max-width: 75%;

        flex: 0 0 75%;
    }
    .arg-col-md-10
    {
        max-width: 83.33333%;

        flex: 0 0 83.33333%;
    }
    .arg-col-md-11
    {
        max-width: 91.66667%;

        flex: 0 0 91.66667%;
    }
    .arg-col-md-12
    {
        max-width: 100%;

        flex: 0 0 100%;
    }
    .arg-order-md-first
    {
        order: -1;
    }
    .arg-order-md-last
    {
        order: 13;
    }
    .arg-order-md-0
    {
        order: 0;
    }
    .arg-order-md-1
    {
        order: 1;
    }
    .arg-order-md-2
    {
        order: 2;
    }
    .arg-order-md-3
    {
        order: 3;
    }
    .arg-order-md-4
    {
        order: 4;
    }
    .arg-order-md-5
    {
        order: 5;
    }
    .arg-order-md-6
    {
        order: 6;
    }
    .arg-order-md-7
    {
        order: 7;
    }
    .arg-order-md-8
    {
        order: 8;
    }
    .arg-order-md-9
    {
        order: 9;
    }
    .arg-order-md-10
    {
        order: 10;
    }
    .arg-order-md-11
    {
        order: 11;
    }
    .arg-order-md-12
    {
        order: 12;
    }
    .arg-offset-md-0
    {
        margin-left: 0;
    }
    .arg-offset-md-1
    {
        margin-left: 8.33333%;
    }
    .arg-offset-md-2
    {
        margin-left: 16.66667%;
    }
    .arg-offset-md-3
    {
        margin-left: 25%;
    }
    .arg-offset-md-4
    {
        margin-left: 33.33333%;
    }
    .arg-offset-md-5
    {
        margin-left: 41.66667%;
    }
    .arg-offset-md-6
    {
        margin-left: 50%;
    }
    .arg-offset-md-7
    {
        margin-left: 58.33333%;
    }
    .arg-offset-md-8
    {
        margin-left: 66.66667%;
    }
    .arg-offset-md-9
    {
        margin-left: 75%;
    }
    .arg-offset-md-10
    {
        margin-left: 83.33333%;
    }
    .arg-offset-md-11
    {
        margin-left: 91.66667%;
    }
}

@media (min-width: 992px)
{
    .arg-col-lg
    {
        max-width: 100%;

        flex-basis: 0;
        flex-grow: 1;
    }
    .arg-col-lg-auto
    {
        width: auto;
        max-width: 100%;

        flex: 0 0 auto;
    }
    .arg-col-lg-1
    {
        max-width: 8.33333%;

        flex: 0 0 8.33333%;
    }
    .arg-col-lg-2
    {
        max-width: 16.66667%;

        flex: 0 0 16.66667%;
    }
    .arg-col-lg-3
    {
        max-width: 25%;

        flex: 0 0 25%;
    }
    .arg-col-lg-4
    {
        max-width: 33.33333%;

        flex: 0 0 33.33333%;
    }
    .arg-col-lg-5
    {
        max-width: 41.66667%;

        flex: 0 0 41.66667%;
    }
    .arg-col-lg-6
    {
        max-width: 50%;

        flex: 0 0 50%;
    }
    .arg-col-lg-7
    {
        max-width: 58.33333%;

        flex: 0 0 58.33333%;
    }
    .arg-col-lg-8
    {
        max-width: 66.66667%;

        flex: 0 0 66.66667%;
    }
    .arg-col-lg-9
    {
        max-width: 75%;

        flex: 0 0 75%;
    }
    .arg-col-lg-10
    {
        max-width: 83.33333%;

        flex: 0 0 83.33333%;
    }
    .arg-col-lg-11
    {
        max-width: 91.66667%;

        flex: 0 0 91.66667%;
    }
    .arg-col-lg-12
    {
        max-width: 100%;

        flex: 0 0 100%;
    }
    .arg-order-lg-first
    {
        order: -1;
    }
    .arg-order-lg-last
    {
        order: 13;
    }
    .arg-order-lg-0
    {
        order: 0;
    }
    .arg-order-lg-1
    {
        order: 1;
    }
    .arg-order-lg-2
    {
        order: 2;
    }
    .arg-order-lg-3
    {
        order: 3;
    }
    .arg-order-lg-4
    {
        order: 4;
    }
    .arg-order-lg-5
    {
        order: 5;
    }
    .arg-order-lg-6
    {
        order: 6;
    }
    .arg-order-lg-7
    {
        order: 7;
    }
    .arg-order-lg-8
    {
        order: 8;
    }
    .arg-order-lg-9
    {
        order: 9;
    }
    .arg-order-lg-10
    {
        order: 10;
    }
    .arg-order-lg-11
    {
        order: 11;
    }
    .arg-order-lg-12
    {
        order: 12;
    }
    .arg-offset-lg-0
    {
        margin-left: 0;
    }
    .arg-offset-lg-1
    {
        margin-left: 8.33333%;
    }
    .arg-offset-lg-2
    {
        margin-left: 16.66667%;
    }
    .arg-offset-lg-3
    {
        margin-left: 25%;
    }
    .arg-offset-lg-4
    {
        margin-left: 33.33333%;
    }
    .arg-offset-lg-5
    {
        margin-left: 41.66667%;
    }
    .arg-offset-lg-6
    {
        margin-left: 50%;
    }
    .arg-offset-lg-7
    {
        margin-left: 58.33333%;
    }
    .arg-offset-lg-8
    {
        margin-left: 66.66667%;
    }
    .arg-offset-lg-9
    {
        margin-left: 75%;
    }
    .arg-offset-lg-10
    {
        margin-left: 83.33333%;
    }
    .arg-offset-lg-11
    {
        margin-left: 91.66667%;
    }
}

@media (min-width: 1200px)
{
    .arg-col-xl
    {
        max-width: 100%;

        flex-basis: 0;
        flex-grow: 1;
    }
    .arg-col-xl-auto
    {
        width: auto;
        max-width: 100%;

        flex: 0 0 auto;
    }
    .arg-col-xl-1
    {
        max-width: 8.33333%;

        flex: 0 0 8.33333%;
    }
    .arg-col-xl-2
    {
        max-width: 16.66667%;

        flex: 0 0 16.66667%;
    }
    .arg-col-xl-3
    {
        max-width: 25%;

        flex: 0 0 25%;
    }
    .arg-col-xl-4
    {
        max-width: 33.33333%;

        flex: 0 0 33.33333%;
    }
    .arg-col-xl-5
    {
        max-width: 41.66667%;

        flex: 0 0 41.66667%;
    }
    .arg-col-xl-6
    {
        max-width: 50%;

        flex: 0 0 50%;
    }
    .arg-col-xl-7
    {
        max-width: 58.33333%;

        flex: 0 0 58.33333%;
    }
    .arg-col-xl-8
    {
        max-width: 66.66667%;

        flex: 0 0 66.66667%;
    }
    .arg-col-xl-9
    {
        max-width: 75%;

        flex: 0 0 75%;
    }
    .arg-col-xl-10
    {
        max-width: 83.33333%;

        flex: 0 0 83.33333%;
    }
    .arg-col-xl-11
    {
        max-width: 91.66667%;

        flex: 0 0 91.66667%;
    }
    .arg-col-xl-12
    {
        max-width: 100%;

        flex: 0 0 100%;
    }
    .arg-order-xl-first
    {
        order: -1;
    }
    .arg-order-xl-last
    {
        order: 13;
    }
    .arg-order-xl-0
    {
        order: 0;
    }
    .arg-order-xl-1
    {
        order: 1;
    }
    .arg-order-xl-2
    {
        order: 2;
    }
    .arg-order-xl-3
    {
        order: 3;
    }
    .arg-order-xl-4
    {
        order: 4;
    }
    .arg-order-xl-5
    {
        order: 5;
    }
    .arg-order-xl-6
    {
        order: 6;
    }
    .arg-order-xl-7
    {
        order: 7;
    }
    .arg-order-xl-8
    {
        order: 8;
    }
    .arg-order-xl-9
    {
        order: 9;
    }
    .arg-order-xl-10
    {
        order: 10;
    }
    .arg-order-xl-11
    {
        order: 11;
    }
    .arg-order-xl-12
    {
        order: 12;
    }
    .arg-offset-xl-0
    {
        margin-left: 0;
    }
    .arg-offset-xl-1
    {
        margin-left: 8.33333%;
    }
    .arg-offset-xl-2
    {
        margin-left: 16.66667%;
    }
    .arg-offset-xl-3
    {
        margin-left: 25%;
    }
    .arg-offset-xl-4
    {
        margin-left: 33.33333%;
    }
    .arg-offset-xl-5
    {
        margin-left: 41.66667%;
    }
    .arg-offset-xl-6
    {
        margin-left: 50%;
    }
    .arg-offset-xl-7
    {
        margin-left: 58.33333%;
    }
    .arg-offset-xl-8
    {
        margin-left: 66.66667%;
    }
    .arg-offset-xl-9
    {
        margin-left: 75%;
    }
    .arg-offset-xl-10
    {
        margin-left: 83.33333%;
    }
    .arg-offset-xl-11
    {
        margin-left: 91.66667%;
    }
}

.arg-floating
{
    animation: floating 3s ease infinite;

    will-change: transform;
}
.arg-floating:hover
{
    animation-play-state: paused;
}

.arg-floating-lg
{
    animation: floating-lg 3s ease infinite;
}

.arg-floating-sm
{
    animation: floating-sm 3s ease infinite;
}

@keyframes floating-lg
{
    0%
    {
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(15px);
    }
    100%
    {
        transform: translateY(0px);
    }
}

@keyframes floating
{
    0%
    {
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(10px);
    }
    100%
    {
        transform: translateY(0px);
    }
}

@keyframes floating-sm
{
    0%
    {
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(5px);
    }
    100%
    {
        transform: translateY(0px);
    }
}

.arg-floatfix:before,
.arg-floatfix:after
{
    display: table;

    content: '';
}

.arg-floatfix:after
{
    clear: both;
}

.arg-img-center
{
    display: block;

    margin-right: auto;
    margin-left: auto;
}

.arg-opacity-1
{
    opacity: .1 !important;
}

.arg-opacity-2
{
    opacity: .2 !important;
}

.arg-opacity-3
{
    opacity: .3 !important;
}

.arg-opacity-4
{
    opacity: .4 !important;
}

.arg-opacity-5
{
    opacity: .5 !important;
}

.arg-opacity-6
{
    opacity: .6 !important;
}

.arg-opacity-7
{
    opacity: .7 !important;
}

.arg-opacity-8
{
    opacity: .8 !important;
}

.arg-opacity-8
{
    opacity: .9 !important;
}

.arg-opacity-10
{
    opacity: 1 !important;
}

.arg-overflow-visible
{
    overflow: visible !important;
}

.arg-overflow-hidden
{
    overflow: hidden !important;
}

.arg-top-0
{
    top: 0;
}

.arg-right-0
{
    right: 0;
}

.arg-bottom-0
{
    bottom: 0;
}

.arg-left-0
{
    left: 0;
}

.arg-top-1
{
    top: .25rem;
}

.arg-right-1
{
    right: .25rem;
}

.arg-bottom-1
{
    bottom: .25rem;
}

.arg-left-1
{
    left: .25rem;
}

.arg-top-2
{
    top: .5rem;
}

.arg-right-2
{
    right: .5rem;
}

.arg-bottom-2
{
    bottom: .5rem;
}

.arg-left-2
{
    left: .5rem;
}

.arg-top-3
{
    top: 1rem;
}

.arg-right-3
{
    right: 1rem;
}

.arg-bottom-3
{
    bottom: 1rem;
}

.arg-left-3
{
    left: 1rem;
}

.arg-top-4
{
    top: 1.5rem;
}

.arg-right-4
{
    right: 1.5rem;
}

.arg-bottom-4
{
    bottom: 1.5rem;
}

.arg-left-4
{
    left: 1.5rem;
}

.arg-top-5
{
    top: 3rem;
}

.arg-right-5
{
    right: 3rem;
}

.arg-bottom-5
{
    bottom: 3rem;
}

.arg-left-5
{
    left: 3rem;
}

.arg-top--9
{
    top: -10rem;
}

.arg-right--9
{
    right: -10rem;
}

.arg-bottom--9
{
    bottom: -10rem;
}

.arg-left--9
{
    left: -10rem;
}

.arg-top--8
{
    top: -8rem;
}

.arg-right--8
{
    right: -8rem;
}

.arg-bottom--8
{
    bottom: -8rem;
}

.arg-left--8
{
    left: -8rem;
}

.arg-top--7
{
    top: -6rem;
}

.arg-right--7
{
    right: -6rem;
}

.arg-bottom--7
{
    bottom: -6rem;
}

.arg-left--7
{
    left: -6rem;
}

.arg-top--6
{
    top: -4.5rem;
}

.arg-right--6
{
    right: -4.5rem;
}

.arg-bottom--6
{
    bottom: -4.5rem;
}

.arg-left--6
{
    left: -4.5rem;
}

.arg-top--5
{
    top: -3rem;
}

.arg-right--5
{
    right: -3rem;
}

.arg-bottom--5
{
    bottom: -3rem;
}

.arg-left--5
{
    left: -3rem;
}

.arg-top--4
{
    top: -1.5rem;
}

.arg-right--4
{
    right: -1.5rem;
}

.arg-bottom--4
{
    bottom: -1.5rem;
}

.arg-left--4
{
    left: -1.5rem;
}

.arg-top--3
{
    top: -1rem;
}

.arg-right--3
{
    right: -1rem;
}

.arg-bottom--3
{
    bottom: -1rem;
}

.arg-left--3
{
    left: -1rem;
}

.arg-top--2
{
    top: -.5rem;
}

.arg-right--2
{
    right: -.5rem;
}

.arg-bottom--2
{
    bottom: -.5rem;
}

.arg-left--2
{
    left: -.5rem;
}

.arg-top--1
{
    top: -.25rem;
}

.arg-right--1
{
    right: -.25rem;
}

.arg-bottom--1
{
    bottom: -.25rem;
}

.arg-left--1
{
    left: -.25rem;
}

.arg-top-6
{
    top: 4.5rem;
}

.arg-right-6
{
    right: 4.5rem;
}

.arg-bottom-6
{
    bottom: 4.5rem;
}

.arg-left-6
{
    left: 4.5rem;
}

.arg-top-7
{
    top: 6rem;
}

.arg-right-7
{
    right: 6rem;
}

.arg-bottom-7
{
    bottom: 6rem;
}

.arg-left-7
{
    left: 6rem;
}

.arg-top-8
{
    top: 8rem;
}

.arg-right-8
{
    right: 8rem;
}

.arg-bottom-8
{
    bottom: 8rem;
}

.arg-left-8
{
    left: 8rem;
}

.arg-top-9
{
    top: 10rem;
}

.arg-right-9
{
    right: 10rem;
}

.arg-bottom-9
{
    bottom: 10rem;
}

.arg-left-9
{
    left: 10rem;
}

.arg-center
{
    left: 50%;

    transform: translateX(-50%);
}

[class*='shadow']
{
    transition: all .15s ease;
}

.arg-shadow-sm--hover:hover
{
    box-shadow: 0 0 .5rem rgba(136, 152, 170, .075) !important;
}

.arg-shadow--hover:hover
{
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}

.arg-shadow-lg--hover:hover
{
    box-shadow: 0 0 3rem rgba(136, 152, 170, .175) !important;
}

.arg-shadow-none--hover:hover
{
    box-shadow: none !important;
}

.arg-h-100vh
{
    height: 100vh !important;
}

.arg-row.arg-row-grid > [class*='col-'] + [class*='col-']
{
    margin-top: 3rem;
}

@media (min-width: 992px)
{
    .arg-row.arg-row-grid > [class*='col-lg-'] + [class*='col-lg-']
    {
        margin-top: 0;
    }
}

@media (min-width: 768px)
{
    .arg-row.arg-row-grid > [class*='col-md-'] + [class*='col-md-']
    {
        margin-top: 0;
    }
}

@media (min-width: 576px)
{
    .arg-row.arg-row-grid > [class*='col-sm-'] + [class*='col-sm-']
    {
        margin-top: 0;
    }
}

.arg-row-grid + .arg-row-grid
{
    margin-top: 3rem;
}

@media (min-width: 992px)
{
    .arg-mt--100
    {
        margin-top: -100px !important;
    }
    .arg-mr--100
    {
        margin-right: -100px !important;
    }
    .arg-mb--100
    {
        margin-bottom: -100px !important;
    }
    .arg-ml--100
    {
        margin-left: -100px !important;
    }
    .arg-mt--150
    {
        margin-top: -150px !important;
    }
    .arg-mb--150
    {
        margin-bottom: -150px !important;
    }
    .arg-mt--200
    {
        margin-top: -200px !important;
    }
    .arg-mb--200
    {
        margin-bottom: -200px !important;
    }
    .arg-mt--300
    {
        margin-top: -300px !important;
    }
    .arg-mb--300
    {
        margin-bottom: -300px !important;
    }
    .arg-pt-100
    {
        padding-top: 100px !important;
    }
    .arg-pb-100
    {
        padding-bottom: 100px !important;
    }
    .arg-pt-150
    {
        padding-top: 150px !important;
    }
    .arg-pb-150
    {
        padding-bottom: 150px !important;
    }
    .arg-pt-200
    {
        padding-top: 200px !important;
    }
    .arg-pb-200
    {
        padding-bottom: 200px !important;
    }
    .arg-pt-250
    {
        padding-top: 250px !important;
    }
    .arg-pb-250
    {
        padding-bottom: 250px !important;
    }
    .arg-pt-300
    {
        padding-top: 300px !important;
    }
    .arg-pb-300
    {
        padding-bottom: 300px !important;
    }
}

.arg-font-weight-300
{
    font-weight: 300 !important;
}

.arg-font-weight-400
{
    font-weight: 400 !important;
}

.arg-font-weight-500
{
    font-weight: 500 !important;
}

.arg-font-weight-600
{
    font-weight: 600 !important;
}

.arg-font-weight-700
{
    font-weight: 700 !important;
}

.arg-font-weight-800
{
    font-weight: 800 !important;
}

.arg-font-weight-900
{
    font-weight: 900 !important;
}

.arg-text-underline
{
    text-decoration: underline;
}

.arg-text-through
{
    text-decoration: line-through;
}

.arg-text-xs
{
    font-size: .75rem !important;
}

.arg-text-sm
{
    font-size: .875rem !important;
}

.arg-text-lg
{
    font-size: 1.25rem !important;
}

.arg-text-xl
{
    font-size: 1.5rem !important;
}

.arg-lh-100
{
    line-height: 1;
}

.arg-lh-110
{
    line-height: 1.1;
}

.arg-lh-120
{
    line-height: 1.2;
}

.arg-lh-130
{
    line-height: 1.3;
}

.arg-lh-140
{
    line-height: 1.4;
}

.arg-lh-150
{
    line-height: 1.5;
}

.arg-lh-160
{
    line-height: 1.6;
}

.arg-lh-170
{
    line-height: 1.7;
}

.arg-lh-180
{
    line-height: 1.8;
}

.arg-ls-1
{
    letter-spacing: .0625rem;
}

.arg-ls-15
{
    letter-spacing: .09375rem;
}

.arg-ls-2
{
    letter-spacing: .125rem;
}

.arg-jc-center {
  justify-content: center;
}

.arg-ai-center {
  align-items: center;
}
